<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdxh.mapper.UserMapper">
    <!--插入语句
     id的值 为XxxMapper中的方法名，
     parameterType的值 为参数类型
     -->
    <insert id="addUser" parameterType="com.zdxh.entity.User">
        insert into t_user(user_username, user_password, user_email) values (#{userUsername}, #{userPassword}, #{userEmail})
    </insert>

    <!--删除语句-->
    <delete id="deleteUserById" parameterType="int">
        delete from t_user where id = #{id}
    </delete>

    <!--更新语句-->
    <update id="updateUser" parameterType="com.zdxh.entity.User">
        update t_user set username=#{username}, password=#{password} where id=#{id}
    </update>

    <!--查询语句
     id的值 为XxxMapper中的方法名，
     parameterType的值 为参数类型
     resultType的值 为(return)返回的类型
    -->
    <select id="getUserById" parameterType="int" resultType="com.zdxh.entity.User">
        select * from t_user where id = #{id}
    </select>

    <select id="getUserByUsernamePassword" parameterType="com.zdxh.entity.User" resultType="com.zdxh.entity.User">
        select * from t_user where username = #{username} and password = #{password}
    </select>

    <!--查询语句-->
    <select id="getAllUsers" parameterType="com.zdxh.entity.User" resultType="com.zdxh.entity.User">
        select * from t_user
    </select>

</mapper>