<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-2"></div>


        <div class="col-8">

            <p>
                <font size="+3" color="#000000">&nbsp;&nbsp;请选择你的操作:</font><br/><br/>
                <a href="/upload.html">&nbsp;&nbsp;上传图片</a>
            <hr color="#999999" size="1">
            <a href="/upload">&nbsp;&nbsp;上传文件</a>
            <hr color="#999999" size="1">
            <a href="/Describe">&nbsp;&nbsp;添加描述</a>
            </ul>
            </p>
            <div class="my-footer ">

                Copyright © 2019 中山大学新华学院 信息科学学院 2017软件工程
                <br>
                李步官 李赟 蔡杰远 林劲文
                <br>
                系统分析与设计理论实践（IBM共建）
                <br>
            </div>


        </div>

        <div class="col-2"></div>



    </div>
</div>

</body>
</html>