<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/lib/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/lib/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/lib/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/lib/js/bootstrap.js}"></script>

    <title>公司介绍</title>

</head>
<body>

<!--******************** 头部：开始 ***********************-->
<section id="index-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <strong class="navbar-brand nav-font text-primary">UML课程作业</strong>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-font">
                <li class="nav-item active text-primary">
                    <a id="nav-index" class="nav-link " href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a id="nav-user-management" class="nav-link my-nav-link" href="/viewAddUser">添加用户</a>
                </li>
                <li class="nav-item">
                    <a id="nav-customer-management" class="nav-link my-nav-link" href="/viewClientManager">客户管理</a>
                </li>
                <li class="nav-item">
                    <a id="nav-robot-service" class="nav-link my-nav-link" href="/robotService">客服</a>
                </li>

                <li class="nav-item">
                    <a id="nav-robot-management" class="nav-link my-nav-link" href="/reply">机器人</a>
                </li>

            </ul>
        </div>
    </nav>
</section>
<div th:background="index_bg.jpg">
<h1 align="center">公司介绍</h1>
    <p>
        &nbsp;&nbsp;中山大学新华学院是一所综合性全日制普通高等院校，是中国医学数字教育项目示范基地学校。

        &nbsp;&nbsp;学院于2005年经教育部批准设立；2007年5月，东莞校区获得批准。2015年2月，学院科技应用与创新中心的创客实验室（中山大学新华学院开源实验室）成为国际Fab Lab的成员。

        &nbsp;&nbsp;截至2019年4月，学院有广州、东莞2个校区，占地面积2185亩（其中1456亩已取得土地使用证明）；在校生2.3万余人，有专任教师996人、外聘教师244人；设有19个二级教学单位，开设46个专业。
    </p>
</div>
<div class="my-footer ">

    Copyright © 2019 中山大学新华学院 信息科学学院 2017软件工程
    <br>
    李步官 李赟 蔡杰远 林劲文
    <br>
    系统分析与设计理论实践（IBM共建）
    <br>
</div>



</body>
</html>