<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/lib/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/lib/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/lib/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/lib/js/bootstrap.js}"></script>

    <title>Title</title>

    <style>
        .chat-box{
            width: 300px;
            height: auto;
            background: rgba(0, 201, 233, 0.51);
            border-radius: 10px;
            padding: 10px;
            margin: 20px;
        }

        .chat-room{
            width: 100%;
            height: 600px;
            background: #fff;
            border-radius: 10px;
            padding: 10px;
            margin: 20px;
        }

        .input-box{
            bottom: 0px;
            margin-top: 50px;
            /*float: bottom;*/
            position: relative;
            border:  1px solid #6f42c1;
        }

        .chat-record{
            /*height: 500px;*/
            width:100%;
        }
    </style>
</head>
<body bgcolor="#eae9e0">






<!--******************** 身体：开始 ***********************-->
<section id="index-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-font">
        <strong class="navbar-brand nav-font text-primary">UML课程作业</strong>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active text-primary">
                    <a id="nav-index" class="nav-link " href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a id="nav-user-management" class="nav-link my-nav-link" href="/viewAddUser">添加用户</a>
                </li>
                <li class="nav-item">
                    <a id="nav-customer-management" class="nav-link my-nav-link" href="/viewClientManager">客户管理</a>
                </li>


                <li class="nav-item">
                    <a id="nav-robot-management" class="nav-link my-nav-link" href="/reply">机器人</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <a id="nav-register" class="ml-2  my-2 my-sm-0 btn btn-outline-primary" href="/register">注册</a>
                <a id="nav-login" class="ml-2  my-2 my-sm-0 btn btn-outline-primary" href="/login">登录</a>
            </form>
        </div>
    </nav>

</section>

<!---------------------- 身体：结束 ------------------------>

<section id="reply-body">
    <div class="container">

        <div class="row">

            <div class="col-2"> </div>
            <div class="col-8">

                <div class="chat-room shadow">

                    <div class="container">
                        <div class="row">
                            <div id="showData" class="col-12 chat-record">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <form action="/replyDo" method="post">

                                    <div class="d-inline-block input-box">

                                        <input class=" " type="text" name="content" id="chat-form" placeholder="输入您想知道的问题,小冰会为您解答的" aria-label="输入您想知道的问题，小冰会为您解答的">


                                        <input class=" btn btn-primary" type="button" onclick="chat_ajax()" value="提交">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-2"> </div>

        </div>


    </div>
</section>




<script>

    $.post(function () {

    });

    let content;

    //ajax提交表单
    function chat_ajax() {
        let url = "/replyDo";
        let data = $("#chat-form").serialize();
        let callback = function (responseText, status) {
            console.log(responseText);
            console.log("code = " + responseText.code);
            console.log("msg = " + responseText.msg);
            console.log("data.content = " + responseText.data.content);

            content = responseText.data.content;


            showData();

        };
        $.post(url, data, callback);
    }

    function showData() {
        var txt1=
            "<div class=\"chat-box\" id=\"showData\">\n" +
            "    <h5 id=\"showData2\" class='text-white'>" + content + "</h5>\n" +
            "</div> </br>";                    // 以 HTML 创建元素
        $("#showData").after(txt1);
    }



</script>

</body>
</html>