<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/lib/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/lib/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/lib/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/lib/js/bootstrap.js}"></script>

    <title>客户管理</title>

</head>
<body>

<!--******************** 头部：开始 ***********************-->
<section id="index-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-font">
        <strong class="navbar-brand nav-font text-primary">UML课程作业</strong>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active text-primary">
                    <a id="nav-index" class="nav-link " href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a id="nav-user-management" class="nav-link my-nav-link" href="/getAllUsers">用户管理</a>
                </li>
                <li class="nav-item">
                    <a id="nav-customer-management" class="nav-link my-nav-link" href="/viewClientManager">客户管理</a>
                </li>


                <li class="nav-item">
                    <a id="nav-robot-management" class="nav-link my-nav-link" href="/reply">机器人</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <a id="nav-register" class="ml-2  my-2 my-sm-0 btn btn-outline-primary" href="/register">注册</a>
                <a id="nav-login" class="ml-2  my-2 my-sm-0 btn btn-outline-primary" href="/login">登录</a>
            </form>
        </div>
    </nav>

</section>

<!--******************** 头部：结束 ***********************-->


<div class="container">
    <div class="row">

        <div class="col-2"></div>


        <div class="col-8">

            <p>
                <font size="+3" color="#000000">&nbsp;&nbsp;请选择你的操作:</font><br/><br/>
                <a href="/viewAddUser">&nbsp;&nbsp;用户信息管理</a>
            <hr color="#999999" size="1">
            <a href="/GongSiJieShao">&nbsp;&nbsp;公司介绍</a>
            <hr color="#999999" size="1">
            <a href="">&nbsp;&nbsp;资金管理</a>
            <hr color="#999999" size="1">
            <a href="">&nbsp;&nbsp;订单管理</a>
            <hr color="#999999" size="1">
            <a href="">&nbsp;&nbsp;客服管理</a>
            <hr color="#999999" size="1">
            <a href="">&nbsp;&nbsp;日程管理</a>
            <hr color="#999999" size="1">
            </ul>
            </p>
            <div class="my-footer ">

                Copyright © 2019 中山大学新华学院 信息科学学院 2017软件工程
                <br>
                李步官 李赟 蔡杰远 林劲文
                <br>
                系统分析与设计理论实践（IBM共建）
                <br>
            </div>


        </div>

        <div class="col-2"></div>



    </div>
</div>

</body>
</html>