<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>我的购物车-小米商城</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}">
	</head>


<!-----------------------------------------------
						购物车
------------------------------------------------>



	<body>
	<!-- start header -->
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">

			<div class="wdgwc fl ml40">我的购物车</div>
			<div class="wxts fl ml20">温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</div>
			<div class="dlzc fr">
				<ul>
					<li><a th:href="@{/home}" >首页</a></li>

					<li>
						<a th:href="@{/home/personal-user}"
						   th:if="${session.loginState eq true and session.userType eq 'user'}"
						   th:text="${session.username}">
						</a>
						<a th:href="@{/home/personal-customer}"
						   th:if="${session.loginState eq true and session.userType eq 'customer'}"
						   th:text="${session.username}">
						</a>
						<a id="login"
						   th:href="@{/home/login}"
						   th:if="${session.loginState ne true}">
							登录</a>
					</li>
					<li>
						<a th:href="@{/logout}"
						   th:if="${session.loginState eq true}"
						   th:text="退出"></a>

						<a id="register"
						   th:href="@{/home/register}"
						   th:if="${session.loginState ne true}"
						   th:text="注册"></a>
					</li>
					<!--						<li><a th:href="@{/home/index-robot}">消息通知</a></li>-->

				</ul>

			</div>
			<div class="clear"></div>
		</div>
		<div class="xiantiao"></div>
		<div class="gwcxqbj">
			<div class="gwcxd center">
				<div class="top2 center">
					<div class="sub_top fl">
						<input type="checkbox" value="quanxuan" class="quanxuan" />全选
					</div>
					<div class="sub_top fl">商品名称</div>
					<div class="sub_top fl">单价</div>
					<div class="sub_top fl">数量</div>
					<div class="sub_top fl">小计</div>
					<div class="sub_top fr">操作</div>
					<div class="clear"></div>
				</div>


				<div class="content2 center" >
					<div class="sub_content fl ">
						<input type="checkbox" value="quanxuan" class="quanxuan" />
					</div>
					<div class="sub_content fl"><img src="./image/gwc_xiaomi6.jpg"></div>
					<div class="sub_content fl ft20">小米6全网通6GB内存+64GB 土豪金</div>
					<div class="sub_content fl ">元</div>
					<!--<div class="sub_top fr" th:text="${product.productPrice}">元</div>-->
					<div class="sub_content fl">
						<input class="shuliang" type="number" value="1" step="1" min="1" >
					</div>
					<div class="sub_content fl">2499元</div>
					<div class="sub_content fl"><a href="">×</a></div>
					<div class="clear"></div>
				</div>


				<div class="content2 center">
					<div class="sub_content fl ">
						<input type="checkbox" value="quanxuan" class="quanxuan" />
					</div>
					<div class="sub_content fl"><img src="./image/gwc_xiaomi6.jpg"></div>
					<div class="sub_content fl ft20">小米6全网通6GB内存+64GB 亮黑色</div>
					<div class="sub_content fl ">2499元</div>
					<div class="sub_content fl">
						<input class="shuliang" type="number" value="1" step="1" min="1" >
					</div>
					<div class="sub_content fl">2499元</div>
					<div class="sub_content fl"><a href="">×</a></div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="jiesuandan mt20 center">
				<div class="tishi fl ml20">
					<ul>
						<li><a href="./liebiao.html">继续购物</a></li>
						<li>|</li>
						<li>共<span>2</span>件商品，已选择<span>1</span>件</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="jiesuan fr">
					<div class="jiesuanjiage fl">合计（不含运费）：<span>2499.00元</span></div>
					<div class="jsanniu fr"><input class="jsan" type="submit" name="jiesuan"  value="去结算"/></div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			
		</div>

  

	
	<!-- footer -->
	<!--******************** 脚部：开始 ***********************-->
	<section id="index-footer">
		<center>
			<div class="">
				<br><br>
				Copyright © 2019 中山大学新华学院 信息科学学院 2017软件工程
				<br><br>
				李步官 李赟 蔡杰远 林劲文
				<br><br>
				系统分析与设计理论实践（IBM共建）
				<br><br>

			</div>
		</center>
	</section>
	<!---------------------- 脚部：结束 ------------------------>

	</body>
</html>
