<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>B2B企业管理系统</title>

	

	<!-- 先引入重置的CSS样式文件 -->
	<link rel="stylesheet" th:href="@{./css/reset.css}">

	<!-- 引入字体图标的css文件 -->
	<link rel="stylesheet" th:href="@{./css/iconfont.css}">

	<!-- 引入当前页面的CSS文件 -->
	<link rel="stylesheet" th:href="@{./css/index.css}">
	<link rel="stylesheet" th:href="@{./css/style.css}">


	<link rel="stylesheet" type="text/css" th:href="@{font_Icon/iconfont.css}">
	<link rel="stylesheet" type="text/css" th:href="@{css/chat.css}">
	<script th:src="@{/js/jquery.min.js}"></script>
</head>


<!-----------------------------------------------
						主页
------------------------------------------------>



<body >




	<div class="container">
		<!-- 顶部导航 start -->
		<div class="header_bar">
			<div class="header con_width">
				<!-- 左侧菜单 -->
				<div class="header_nav">
					<ul>

					</ul>
				</div>
				<!-- 右侧购物车 -->
				<div class="header_shopcart">
					<div class="shopcart_logo">
						<a href="gouwuche.html">
							<i class="iconfont icon-cart"></i>
							购物车（0）	
						</a>
						<div class="shopcart-info">
							<p>
								购物车中还没有商品，赶紧选购吧!
							</p>
						</div>
					</div>
				</div>
				<!--右侧登录、注册-->
				<div class="user-auction">
					<ul>
						<li><a th:href="@{/home}" >首页</a></li>

						<li>
							<a th:href="@{/home/personal-user}"
							   th:if="${session.loginState eq true and session.userType eq 'user'}"
							   th:text="${session.username}">
							</a>
							<a th:href="@{/home/personal-customer}"
							   th:if="${session.loginState eq true and session.userType eq 'customer'}"
							   th:text="${session.username}">
							</a>
							<a id="login"
							   th:href="@{/home/login}"
							   th:if="${session.loginState ne true}">
								登录</a>
						</li>
						<li>
							<a th:href="@{/logout}"
							   th:if="${session.loginState eq true}"
							   th:text="退出"></a>

							<a id="register"
							   th:href="@{/home/register}"
							   th:if="${session.loginState ne true}"
							   th:text="注册"></a>
						</li>
<!--						<li><a th:href="@{/home/index-robot}">消息通知</a></li>-->

					</ul>
				</div>
			</div>
		</div>
		<!-- 顶部导航 end -->



		<!-- 主体导航 start -->
		<div class="main_nav con_width">

			<div class="nav">
				<ul >
					<li th:each="clazz:${classList}"><a href="/home" th:text="${clazz.className}"></a></li>

				</ul>
			</div>

		</div>
		<!-- 主体导航 end -->


		<!-- 定义分类菜单和banner图 start -->
		<div class="home_container con_width">

			<!-- 定义banner -->
			<div id="banner">
				<ul>
					<li class="active">
						<a href="/home/index"><img src="./images/mi_banner1.jpg" alt="小米" title="小米"></a>
					</li>
					<li>
						<a href="/home/index"><img src="./images/mi_banner2.jpg" alt="小米" title="小米"></a>
					</li>
				</ul>
				<div id="circle-list">
					<ul>
						<li class="active-circle"></li>
						<li></li>
					</ul>
				</div>
				<div id="banner-left" class="banner-arrow">&lt;</div>
				<div id="banner-right" class="banner-arrow">&gt;</div>
			</div>
		</div>
		<!-- 定义分类菜单和banner图 end -->


		<!-- 定义推荐部分 start -->
		<div class="recommend con_width">
			<div class="recommend_right">
				<ul>
					<li><a href=""><img src="./images/img1.jpg" title="" alt=""/></a></li>
					<li><a href=""><img src="./images/img2.jpg" title="" alt=""/></a></li>
					<li><a href=""><img src="./images/img3.jpeg" title="" alt=""/></a></li>
				</ul>
			</div>
		</div>
		<!-- 定义推荐部分 end -->






		<!-- 广告 start -->
		<div class="ad_container con_width">
			<a href="/home/index" alt="小米8 6G+128G" title="小米8 6G+128G"><img src="./images/xmad_15326189127178_tugca.jpg"></a>
		</div>
		<!-- 广告 end -->



		<!-- 产品列表 start -->
		<div class="goods">

			<!-- 手机 start -->
			<div class="flashover con_width clearfix">
				<h1 class="list_title">手机</h1>
				<div class="goods_item_left1">
					<a href="/home/index"><img src="./images/xmad_15323220713837_GLBVX.jpg"/></a>
				</div>
				<div class="goods_item_right" th:each="phone:${phoneList}">
					<div class="goods_item_list">
						<div class="goodlist_content">
							<a th:href="@{/home/xiangqing(pid=${phone.id})}"><img src="./images/pms_1527684990.93616987!220x220.jpg" alt=""></a>
							<p class="good_title"><a th:href="@{/home/xiangqing(pid=${phone.id})}" th:text="${phone.productName}"></a></p>
							<p class="good_desc" th:text="${phone.productIntroduce}"></p>
							<p class="good_price" th:text="${phone.productPrice}"></p>
						</div>
					</div>

				</div>
			</div>
			<!-- 手机 end -->
		
			<!-- 广告 start -->
			<div class="ad_container con_width">
				<a href="/home/index" alt="小米电视" title="小米电视"><img src="./images/xmad_15329210161578_SWgUX.jpg"></a>
			</div>
			<!-- 广告 end -->

			<!-- 笔记本电脑 start -->
			<div class="wiring con_width clearfix">
				<h1 class="list_title" id="laptopTitle">笔记本电脑</h1>
				<div class="wiring_left">
					<a href="/home/index"><img src="./images/xmad_15232550390498_qwxEC.jpg"/></a>
				</div>
				<div class="wiring_right" id="laptopDiv">
					<!-- 热门 -->
					<div class="wiring_right_con">
						<div class="goods_item_list" th:each="laptop:${laptopList}">
							<div class="goodlist_content">
								<label>享8折</label>
								<a th:href="@{/home/xiangqing(pid=${laptop.id})}"><img src="./images/pinpai5.png" alt=""></a>
								<p class="good_title"><a th:href="@{/home/xiangqing(pid=${laptop.id})}" th:text="${laptop.productName}"></a></p>
								<p class="good_desc" th:text="${laptop.productIntroduce}"></p>
								<p class="good_price" th:text="${laptop.productPrice}"></p>
							</div>
							<div class="goods_item_list_desc">
								<p class="goods_item_list_desc_con">小米电视给我惊喜，昨天下午下单，第二天上午就送到家啦...</p>
								<span> 来自于 陈金壮 的评价</span>
							</div>
						</div>

					</div>


				</div>
			</div>
			<!-- 笔记本电脑 end -->


			<!-- 台式电脑 start -->
			<div class="wiring con_width clearfix">
				<h1 class="list_title" id="houseElectricalTitle">台式电脑</h1>
				<div class="wiring_left">
					<a href="/home/index"><img src="./images/xmad_15232550390498_qwxEC.jpg"/></a>
<!--					<a href="/home/index"><img src="./images/xmad_15232550390498_qwxEC.jpg"/></a>-->
				</div>
				<div class="wiring_right" id="houseElectricalDiv">
					<!-- 热门 -->
					<div class="wiring_right_con">
						<div class="goods_item_list" th:each="computer:${computerList}">
							<div class="goodlist_content">
								<label>享8折</label>
								<a th:href="@{/home/xiangqing(pid=${computer.id})}"><img src="./images/computer.jpg" alt=""></a>
								<p class="good_title"><a th:href="@{/home/xiangqing(pid=${computer.id})}" th:text="${computer.productName}"></a></p>
								<p class="good_desc" th:text="${computer.productIntroduce}"></p>
								<p class="good_price" th:text="${computer.productPrice}"></p>
							</div>
							<div class="goods_item_list_desc">
								<p class="goods_item_list_desc_con">小米电视给我惊喜，昨天下午下单，第二天上午就送到家啦...</p>
								<span> 来自于 陈金壮 的评价</span>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- 台式电脑 end -->

			<!-- 广告 start -->
			<div class="ad_container con_width">
				<a href="/home/index" alt="小米电视" title="小米电视"><img src="./images/xmad_15330597618059_zrRgh.jpg"></a>
			</div>
			<!-- 广告 end -->

			<!-- 电视 start -->
			<div class="wiring con_width clearfix">
				<h1 class="list_title">电视</h1>
				<div class="wiring_left">
					<a href="/home/index"><img src="./images/xmad_15266395374048_JnZQo.jpg"/></a>
<!--					<a href="/home/index"><img src="./images/xmad_15266395374048_JnZQo.jpg"/></a>-->
				</div>
				<div class="wiring_right">
					<div class="goods_item_list" th:each="tv:${tvList}">
						<div class="goodlist_content">
							<a th:href="@{/home/xiangqing(pid=${tv.id})}"><img src="./images/pms_1490077569.08131612!220x220.png" alt=""></a>
							<p class="good_title"><a th:href="@{/home/xiangqing(pid=${tv.id})}" th:text="${tv.productName}"></a></p>
							<p class="good_desc" th:text="${tv.productIntroduce}"></p>
							<p class="good_price" th:text="${tv.productPrice}"></p>
						</div>
						<div class="goods_item_list_desc">
							<p class="goods_item_list_desc_con">一流的服务、一流的设备、一流的技术、一流的设施、星级...</p>
							<span>来自于 上网辛苦了 的评价 </span>
						</div>
					</div>
				</div>
			</div>
			<!-- 电视 end -->

			<!-- 广告 start -->
			<div class="ad_container con_width">
				<a href="/home/index" alt="小米电视" title="小米电视"><img src="./images/xmad_15330597618059_zrRgh.jpg"></a>
			</div>
			<!-- 广告 end -->

			<!-- 平板电脑 start -->
			<div class="wiring con_width clearfix">
				<h1 class="list_title">平板电脑</h1>
				<div class="wiring_left">
					<a href="/home/index"><img src="./images/xmad_15266395374048_JnZQo.jpg"/></a>
<!--					<a href="/home/index"><img src="./images/xmad_15266395374048_JnZQo.jpg"/></a>-->
				</div>
				<div class="wiring_right">
					<div class="goods_item_list" th:each="pad:${padList}">
						<div class="goodlist_content">
							<a th:href="@{/home/xiangqing(pid=${pad.id})}"><img src="./images/pad.jpg" alt=""></a>
							<p class="good_title"><a th:href="@{/home/xiangqing(pid=${pad.id})}" th:text="${pad.productName}"></a></p>
							<p class="good_desc" th:text="${pad.productIntroduce}"></p>
							<p class="good_price" th:text="${pad.productPrice}"></p>
						</div>
						<div class="goods_item_list_desc">
							<p class="goods_item_list_desc_con">一流的服务、一流的设备、一流的技术、一流的设施、星级...</p>
							<span>来自于 上网辛苦了 的评价 </span>
						</div>
					</div>

				</div>
			</div>
			<!-- 平板电脑 end -->
			
			<!-- 广告 start -->
			<div class="ad_container con_width">
				<a href="/home/index" alt="小米电视" title="小米电视"><img src="./images/xmad_15330597618059_zrRgh.jpg"></a>
			</div>
			<!-- 广告 end -->
			<script type="text/javascript" th:src="@{/js/rand.js}"></script>
			<script type="text/javascript" th:src="@{/js/randnum.js}"></script>
			<!-- 为你推荐 start -->
			<div class="recommends con_width clearfix">
				<h1 class="list_title">为你推荐</h1>
				<div class="recommends_con">
					<div class="goods_item_list">
						<div class="goodlist_content">
							<a href="/home/index"><img src="./images/pms_1527684990.93616987!220x220.jpg" alt=""></a>
							<p class="good_title"><a href="/home/index"> <div><script>document.write( quote1 )</script></div> </a></p>
							<p class="good_price">799元</p>
							<p class="good_desc"><div><script>document.write(quoten1)</script>人好评</div></p>
						</div>
					</div>
					<div class="goods_item_list">
						<div class="goodlist_content">
							<a href="/home/index"><img src="./images/pms_1527684990.93616987!220x220.jpg" alt=""></a>
							<p class="good_title"><a href="/home/index"><div><script>document.write( quote2 )</script></div></a></p>
							<p class="good_price">799元</p>
							<p class="good_desc"><div><script>document.write(quoten2)</script>人好评</div></p>
						</div>
					</div>
					<div class="goods_item_list">
						<div class="goodlist_content">
							<a href="/home/index"><img src="./images/pms_1527684990.93616987!220x220.jpg" alt=""></a>
							<p class="good_title"><a href="/home/index"> <div><script>document.write( quote3 )</script></div> </a></p>
							<p class="good_price">799元</p>
							<p class="good_desc"><div><script>document.write(quoten3)</script>人好评</div></p>
						</div>
					</div>
					<div class="goods_item_list">
						<div class="goodlist_content">
							<a href="/home/index"><img src="./images/pms_1527684990.93616987!220x220.jpg" alt=""></a>
							<p class="good_title"><a href="/home/index"> <div><script>document.write( quote4 )</script></div> </a></p>
							<p class="good_price">799元</p>
							<p class="good_desc"><div><script>document.write(quoten4)</script>人好评</div></p>
						</div>
					</div>
					<div class="goods_item_list">
						<div class="goodlist_content">
							<a href="/home/index"><img src="./images/pms_1527684990.93616987!220x220.jpg" alt=""></a>
							<p class="good_title"><a href="/home/index"> <div><script>document.write( quote5 )</script></div> </a></p>
							<p class="good_price">799元</p>
							<p class="good_desc"><div><script>document.write(quoten5)</script>人好评</div></p>
						</div>
					</div>
				</div>
			</div>
			<!-- 为你推荐 end -->

		</div>
		<!-- 产品列表 end -->

	</div>

	<!--******************** 脚部：开始 ***********************-->
	<section id="index-footer">
		<center>
			<div class="">
				<br><br>
				Copyright © 2019 中山大学新华学院 信息科学学院 2017软件工程
				<br><br>
				李步官 李赟 蔡杰远 林劲文
				<br><br>
				系统分析与设计理论实践（IBM共建）
				<br><br>

			</div>
		</center>
	</section>
	<!---------------------- 脚部：结束 ------------------------>

	<script th:inline="none" type="text/javascript" charset="utf-8" th:src="@{/js/index.js}"></script>


	<script type="text/javascript" th:src="@{/js/dateday.js}"></script>
	<div class="chatContainer">
		<div class="chatBtn">
			<i class="iconfont icon-xiaoxi1"></i>
		</div>
		<div class="chat-message-num"></div>
		<div class="chatBox" ref="chatBox">
			<div class="chatBox-head">
				<div class="chatBox-head-one">
					消息
					<div class="chat-close" style="margin: 10px 10px 0 0;font-size: 14px">关闭</div>
				</div>
				<div class="chatBox-head-two">
					<div class="chat-return">返回</div>
					<div class="chat-people">
						<div class="ChatInfoHead">
							<img src="" alt="头像">
						</div>
						<div class="ChatInfoName"></div>
					</div>
					<div class="chat-close">关闭</div>
				</div>
			</div>
			<div class="chatBox-info">
				<div class="chatBox-list" ref="chatBoxlist">
					<div class="chat-list-people">
						<div><img src="img/02.jpg" alt="头像"></div>
						<div class="chat-name">
							<p>客户小爱</p>
						</div>
						<div class="message-num"></div>
					</div>
					<div class="chat-list-people">
						<div><img src="img/03.jpg" alt="头像"></div>
						<div class="chat-name">
							<p>淘宝</p>
						</div>
						<div class="message-num"></div>
					</div>
					<div class="chat-list-people">
						<div><img src="img/07.jpg" alt="头像"></div>
						<div class="chat-name">
							<p>天猫</p>
						</div>
						<div class="message-num"></div>
					</div>
					<div class="chat-list-people">
						<div><img src="img/08.jpg" alt="头像"></div>
						<div class="chat-name">
							<p>京东</p>
						</div>
						<div class="message-num"></div>
					</div>
					<div class="chat-list-people">
						<div><img src="img/01.jpg" alt="头像"></div>
						<div class="chat-name">
							<p>阿里巴巴</p>
						</div>
						<div class="message-num"></div>
					</div>
					<div class="chat-list-people">
						<div><img src="img/04.jpg" alt="头像"></div>
						<div class="chat-name">
							<p>腾讯</p>
						</div>
						<div class="message-num"></div>
					</div>
					<div class="chat-list-people">
						<div><img src="img/05.jpg" alt="头像"></div>
						<div class="chat-name">
							<p>百度</p>
						</div>
						<div class="message-num"></div>
					</div>
					<div class="chat-list-people">
						<div><img src="img/06.jpg" alt="头像"></div>
						<div class="chat-name">
							<p>网易</p>
						</div>
						<div class="message-num"></div>
					</div>
				</div>
				<div class="chatBox-kuang" ref="chatBoxkuang">
					<div class="chatBox-content">
						<div class="chatBox-content-demo" id="chatBox-content-demo">

							<div class="clearfloat">
								<div class="author-name">
									<div class="chat-date"><script>document.write(myDate.toLocaleString())</script></div>
								</div>
								<div class="right">
									<div class="chat-message">
										在吗？
									</div>
									<div class="chat-avatars"><img src="img/09.jpg" alt="头像"></div>
								</div>
							</div>

							<div class="clearfloat">
								<div class="author-name">
									<div class="chat-date"><script>document.write(myDate.toLocaleString())</script></div>
								</div>
								<div class="left">
									<div class="chat-avatars"><img src="img/02.jpg" alt="头像"></div>
									<div class="chat-message">在的呢，亲，请问有什么事吗？</div>
								</div>
							</div>

						</div>
					</div>
					<div class="chatBox-send">
						<div class="div-textarea" contenteditable="true"></div>
						<div>
							<button id="chat-biaoqing" class="btn-default-styles">
								<i class="iconfont icon-biaoqing"></i>
							</button>
							<label id="chat-tuxiang" title="发送图片" for="inputImage" class="btn-default-styles">
								<input type="file" onchange="selectImg(this)" accept="image/jpg,image/jpeg,image/png"
									   name="file" id="inputImage" class="hidden">
								<i class="iconfont icon-tuxiang"></i>
							</label>
							<button id="chat-fasong" class="btn-default-styles"><i class="iconfont icon-fasong"></i>
							</button>
						</div>
						<div class="biaoqing-photo">
							<ul>
								<li><span class="emoji-picker-image" style="background-position: -9px -18px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -40px -18px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -71px -18px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -102px -18px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -133px -18px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -164px -18px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -9px -52px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -40px -52px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -71px -52px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -102px -52px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -133px -52px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -164px -52px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -9px -86px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -40px -86px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -71px -86px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -102px -86px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -133px -86px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -164px -86px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -9px -120px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -40px -120px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -71px -120px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -102px -120px;"></span>
								</li>
								<li><span class="emoji-picker-image" style="background-position: -133px -120px;"></span>
								</li>
								<li><span class="emoji-picker-image" style="background-position: -164px -120px;"></span>
								</li>
								<li><span class="emoji-picker-image" style="background-position: -9px -154px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -40px -154px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -71px -154px;"></span></li>
								<li><span class="emoji-picker-image" style="background-position: -102px -154px;"></span>
								</li>
								<li><span class="emoji-picker-image" style="background-position: -133px -154px;"></span>
								</li>
								<li><span class="emoji-picker-image" style="background-position: -164px -154px;"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="none">
		screenFuc();
		function screenFuc() {
			var topHeight = $(".chatBox-head").innerHeight();//聊天头部高度
			//屏幕小于768px时候,布局change
			var winWidth = $(window).innerWidth();
			if (winWidth <= 768) {
				var totalHeight = $(window).height(); //页面整体高度
				$(".chatBox-info").css("height", totalHeight - topHeight);
				var infoHeight = $(".chatBox-info").innerHeight();//聊天头部以下高度
				//中间内容高度
				$(".chatBox-content").css("height", infoHeight - 46);
				$(".chatBox-content-demo").css("height", infoHeight - 46);

				$(".chatBox-list").css("height", totalHeight - topHeight);
				$(".chatBox-kuang").css("height", totalHeight - topHeight);
				$(".div-textarea").css("width", winWidth - 106);
			} else {
				$(".chatBox-info").css("height", 495);
				$(".chatBox-content").css("height", 448);
				$(".chatBox-content-demo").css("height", 448);
				$(".chatBox-list").css("height", 495);
				$(".chatBox-kuang").css("height", 495);
				$(".div-textarea").css("width", 260);
			}
		}
		(window.onresize = function () {
			// screenFuc();
		})();
		//未读信息数量为空时
		var totalNum = $(".chat-message-num").html();
		if (totalNum == "") {
			$(".chat-message-num").css("padding", 0);
		}
		$(".message-num").each(function () {
			var wdNum = $(this).html();
			if (wdNum == "") {
				$(this).css("padding", 0);
			}
		});


		//打开/关闭聊天框
		$(".chatBtn").click(function () {
			$(".chatBox").toggle(10);
		})
		$(".chat-close").click(function () {
			$(".chatBox").toggle(10);
		})
		//进聊天页面
		$(".chat-list-people").each(function () {
			$(this).click(function () {
				var n = $(this).index();
				$(".chatBox-head-one").toggle();
				$(".chatBox-head-two").toggle();
				$(".chatBox-list").fadeToggle();
				$(".chatBox-kuang").fadeToggle();

				//传名字
				$(".ChatInfoName").text($(this).children(".chat-name").children("p").eq(0).html());

				//传头像
				$(".ChatInfoHead>img").attr("src", $(this).children().eq(0).children("img").attr("src"));

				//聊天框默认最底部
				$(document).ready(function () {
					$("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
				});
			})
		});

		//返回列表
		$(".chat-return").click(function () {
			$(".chatBox-head-one").toggle(1);
			$(".chatBox-head-two").toggle(1);
			$(".chatBox-list").fadeToggle(1);
			$(".chatBox-kuang").fadeToggle(1);
		});

		//      发送信息
		$("#chat-fasong").click(function () {
			var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>')
			if (textContent != "") {
				$(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
						"<div class=\"author-name\"><small class=\"chat-date\"></small> </div> " +
						"<div class=\"right\"> <div class=\"chat-message\"> " + textContent + " </div> " +
						"<div class=\"chat-avatars\"><img src=\"img/09.jpg\" alt=\"头像\" /></div> </div> </div>");
				//发送后清空输入框
				$(".div-textarea").html("");
				//聊天框默认最底部
				$(document).ready(function () {
					$("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
				});
			}
		});

		//      发送表情
		$("#chat-biaoqing").click(function () {
			$(".biaoqing-photo").toggle();
		});
		$(document).click(function () {
			$(".biaoqing-photo").css("display", "none");
		});
		$("#chat-biaoqing").click(function (event) {
			event.stopPropagation();//阻止事件
		});

		$(".emoji-picker-image").each(function () {
			$(this).click(function () {
				var bq = $(this).parent().html();
				console.log(bq)
				$(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
						"<div class=\"author-name\"><small class=\"chat-date\"></small> </div> " +
						"<div class=\"right\"> <div class=\"chat-message\"> " + bq + " </div> " +
						"<div class=\"chat-avatars\"><img src=\"img/09.png\" alt=\"头像\" /></div> </div> </div>");
				//发送后关闭表情框
				$(".biaoqing-photo").toggle();
				//聊天框默认最底部
				$(document).ready(function () {
					$("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
				});
			})
		});

		//      发送图片
		function selectImg(pic) {
			if (!pic.files || !pic.files[0]) {
				return;
			}
			var reader = new FileReader();
			reader.onload = function (evt) {
				var images = evt.target.result;
				$(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
						"<div class=\"author-name\"><small class=\"chat-date\"></small> </div> " +
						"<div class=\"right\"> <div class=\"chat-message\"><img src=" + images + "></div> " +
						"<div class=\"chat-avatars\"><img src=\"img/09.png\" alt=\"头像\" /></div> </div> </div>");
				//聊天框默认最底部
				$(document).ready(function () {
					$("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
				});
			};
			reader.readAsDataURL(pic.files[0]);

		}



	</script>


	<script>
		function getUser() {
			let username = window.localStorage.getItem("username");
			if (username != "" || username != undefined || username != null){
				document.getElementById("login").innerText = username;

			}else {
				document.getElementById("login").innerText = "登录";
			}


		}
	</script>
	
</body>
</html>