<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>我的购物车-小米商城</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}">

		<link rel="stylesheet" th:href="@{/lib/css/bootstrap.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<script th:src="@{/lib/js/jquery-3.4.1.js}"></script>
		<script th:src="@{/lib/js/bootstrap.bundle.js}"></script>
		<script th:src="@{/lib/js/bootstrap.js}"></script>

	</head>


<!-----------------------------------------------
						购物车
------------------------------------------------>



	<body>
	<!-- start header -->
	<!--end header -->
	<header>
		<div class="top center">
			<div class="left fl">

			</div>
			<div class="right fr">
				<div class="gouwuche fr"><a href="./dingdanzhongxin.html">我的订单</a></div>
				<div class="fr">
					<ul>
						<li><a th:href="@{/home}" >首页</a></li>

						<li>
							<a th:href="@{/home/personal-user}"
							   th:if="${session.loginState eq true and session.userType eq 'user'}"
							   th:text="${session.username}">
							</a>
							<a th:href="@{/home/personal-customer}"
							   th:if="${session.loginState eq true and session.userType eq 'customer'}"
							   th:text="${session.username}">
							</a>
							<a id="login"
							   th:href="@{/home/login}"
							   th:if="${session.loginState ne true}">
								登录</a>
						</li>
						<li>
							<a th:href="@{/logout}"
							   th:if="${session.loginState eq true}"
							   th:text="退出"></a>

							<a id="register"
							   th:href="@{/home/register}"
							   th:if="${session.loginState ne true}"
							   th:text="注册"></a>
						</li>
						<!--						<li><a th:href="@{/home/index-robot}">消息通知</a></li>-->

					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</header>
	<!--end header -->

		<div class="xiantiao"></div>
		<div class="gwcxqbj">
			<div class="gwcxd center">
				<table class="table table-hover">
					<thead class="table thead-light">
						<tr>
							<th>订单号</th>
							<th>用户ID</th>
							<th>客户ID</th>
							<th>订单时间</th>
						</tr>
					</thead>

					<tbody>
					<tr th:each="order:${orderList}">
						<td th:text="${order.orderNum}"></td>
						<td th:text="${order.userId}"></td>
						<td th:text="${order.customerId}"></td>
						<td th:text="${order.payTime}"></td>
					</tr>
					</tbody>
				</table>


				<!--<div class="content2 center">-->
					<!--<div class="sub_content fl ">-->
						<!--<input type="checkbox" value="quanxuan" class="quanxuan" />-->
					<!--</div>-->
					<!--<div class="sub_content fl"><img src="./image/gwc_xiaomi6.jpg"></div>-->
					<!--<div class="sub_content fl ft20">小米6全网通6GB内存+64GB 亮黑色</div>-->
					<!--<div class="sub_content fl ">2499元</div>-->
					<!--<div class="sub_content fl">-->
						<!--<input class="shuliang" type="number" value="1" step="1" min="1" >-->
					<!--</div>-->
					<!--<div class="sub_content fl">2499元</div>-->
					<!--<div class="sub_content fl"><a href="">×</a></div>-->
					<!--<div class="clear"></div>-->
				<!--</div>-->
			</div>
			<div class="jiesuandan mt20 center">
				<!--<div class="tishi fl ml20">
					<ul>
						<li><a href="./liebiao.html">继续购物</a></li>
						<li>|</li>
						<li>共<span>2</span>件商品，已选择<span>1</span>件</li>
						<div class="clear"></div>
					</ul>
				</div>-->
				<div class="jiesuan fr">
					<!--<div class="jiesuanjiage fl">合计（不含运费）：<span>2499.00元</span></div>-->
					<div class="jsanniu fr"><a href="/home/personal-user"><input class="jsan" type="submit" name="jiesuan"  value="返回个人中心"/></a></div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			
		</div>

  

	

	</body>
</html>
