<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>小米商城-个人中心</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}">
	</head>


<!-----------------------------------------------
						个人中心页面
------------------------------------------------>

	<body>
	<!-- start header -->
		<header>
			<div class="top center">
				<div class="left fl">

				</div>
				<div class="right fr">
					<div class="gouwuche fr"><a href="./dingdanzhongxin.html">我的订单</a></div>
					<div class="fr">
						<ul>
							<!--						<li><a th:href="@{/home/order}" >订单管理</a></li>-->

							<li th:if="${session.loginState eq true}"><a th:href="@{/home/self_info}" >个人中心</a></li>
							<li>
								<a th:href="@{/home/self_info}"
								   th:if="${session.loginState eq true}"
								   th:text="${session.username}">

								</a>
								<a id="login" th:href="@{/home/login}" th:if="${session.loginState ne true}">登录</a>
							</li>
							<li>
								<a th:href="@{/logout}" th:if="${session.loginState eq true}" th:text="退出"></a>
								<a id="register" th:href="@{/home/register}" th:if="${session.loginState ne true}" th:text="注册"></a>
							</li>
							<!--						<li><a th:href="@{/home/index-robot}">消息通知</a></li>-->

						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	<!--end header -->
	<!-- start banner_x -->
		<div class="banner_x center">
			<a href="./index.html" target="_blank"><div class="logo fl"></div></a>
			<a href=""><div class="ad_top fl"></div></a>
			<div class="nav fl">
			</div>
		</div>
<!-- end banner_x -->
<!-- self_info -->
	<div class="grzxbj">
		<div class="selfinfo center">
		<div class="lfnav fl">
			<div class="ddzx">订单中心</div>
			<div class="subddzx">
				<ul>
					<li><a href="/wodedingdan" >我的订单</a></li>
				</ul>
			</div>
			<div class="ddzx">个人中心</div>
			<div class="subddzx">
				<ul>
					<li><a href="./self_info.html" style="color:#ff6700;font-weight:bold;">我的资料</a></li>
					<li><a href="/CusAddProduct">添加商品</a></li>
					<li><a href="/upload">上传图片</a></li>
				</ul>
			</div>
		</div>
		<div class="rtcont fr">
			<div class="grzlbt ml40">我的资料</div>
			<div class="subgrzl ml40"><span>昵称</span><span>xiaomi</span><span><a href="">编辑</a></span></div>
			<div class="subgrzl ml40"><span>手机号</span><span>15669097417</span><span><a href="">编辑</a></span></div>
			<div class="subgrzl ml40"><span>密码</span><span>************</span><span><a href="">编辑</a></span></div>
			<div class="subgrzl ml40"><span>个性签名</span><span>一支穿云箭，千军万马来相见！</span><span><a href="">编辑</a></span></div>
			<div class="subgrzl ml40"><span>我的爱好</span><span>学习，学习，学习</span><span><a href="">编辑</a></span></div>
			<div class="subgrzl ml40"><span>收货地址</span><span>广东省东莞市麻涌镇沿江西一路七号</span><span><a href="">编辑</a></span></div>
			
		</div>
		<div class="clear"></div>
		</div>
	</div>
<!-- self_info -->
		
		<footer class="mt20 center">			
			<div class="my-footer ">

			Copyright © 2019 中山大学新华学院 信息科学学院 2017软件工程
			<br>
			李步官 李赟 蔡杰远 林劲文
			<br>
			系统分析与设计理论实践（IBM共建）
			<br>
		</div>
		</footer>
	</body>
</html>